* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: aquamarine;
    padding: 20px;
}

div {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr repeat(5, 50px);
    grid-template-areas:
        "a "
        "b"
        "c"
        "d"
        "e"
        "."
        "f";
    gap: 16px;

}

.item {
    background: red;
    padding: 20px;
}

.item-a {
    grid-area: a;
}

.item-b {
    grid-area: b;
}

.item-c {
    grid-area: c;
}

.item-d {
    grid-area: d;
}

.item-e {
    grid-area: e;
}

.item-f {
    grid-area: f;
}


@media screen and (min-width: 576px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: aquamarine;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 50px 190px 100px 1fr 50px;
        grid-template-areas:
        "a c c"
        "b c c"
        "b e d"
        "b e ."
        "f f f";
        gap: 16px;
        height: 100vh;
    }


    .item {
        background: red;
        padding: 20px;
    }

    .item-a {
        grid-area: a;
    }

    .item-b {
        grid-area: b;
    }

    .item-c {
        grid-area: c;
    }

    .item-d {
        grid-area: d;
    }

    .item-e {
        grid-area: e;
    }

    .item-f {
        grid-area: f;
    }
}